{% extends "layouts/dashboard/app.html" %}

{% block title %}Dashboard{% endblock %}

{% block header %}
    {% include "layouts/dashboard/header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "layouts/dashboard/sidebar.html" %}
{% endblock %}

{% block content %}
    <div class="block">
        <div class="block-header block-header-default bg-primary">
            <h3 class="block-title">Dashboard</small></h3>
        </div>
        <div class="block-content block-content-full">
            Hore
        </div>
    </div>
{% endblock %}