{% extends "layouts/dashboard/app.html" %}

{% block title %}Tambah{% endblock %}

{% block header %}
    {% include "layouts/dashboard/header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "layouts/dashboard/sidebar.html" %}
{% endblock %}

{% block content %}
<nav class="breadcrumb bg-white push">
    <a class="breadcrumb-item" href="/">Dashboard</a>
    <a class="breadcrumb-item" href="/indexuser">Users</a>
    <span class="breadcrumb-item active">Tambah</span>
</nav>
{% if (code != NULL) %}
    {% if (code == 0) %}
        <div class="alert alert-success">{{ message }}</div>
    {% else %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
{% endif %}
<div class="block block-themed">
    <div class="block-header bg-gd-lake">
        <h3 class="block-title">Users</small></h3>
    </div>
    <div class="block-content block-content-full">
        <form class="js-validation-signin" action="/adduser" method="post">
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="form-material form-material-primary input-group">
                        <input type="text" class="form-control" id="material-addon-text" name="user_nrp" placeholder="Masukkan NRP">
                        <label for="material-addon-text">NRP</label>
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="form-material form-material-primary input-group">
                        <input type="text" class="form-control" id="material-addon-text" name="user_password" placeholder="Masukkan Password">
                        <label for="material-addon-text">Password</label>
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="form-group row">
                <div class="col-md-12">
                    <div class="form-material form-material-primary input-group">
                        <input type="text" class="form-control" id="material-addon-text" name="user_role" placeholder="Masukkan Role">
                        <label for="material-addon-text">Role</label>
                        <div class="input-group-append">
                            <span class="input-group-text"></span>
                        </div>
                    </div>
                </div>
            </div> -->
            <hr>
            <div class="form-group row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-alt-primary pull-right">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}