{% extends "layouts/dashboard/app.html" %}

{% block title %}Gate{% endblock %}

{% block header %}
    {% include "layouts/dashboard/header.html" %}
{% endblock %}

{% block sidebar %}
    {% include "layouts/dashboard/sidebar.html" %}
{% endblock %}

{% block content %}
<nav class="breadcrumb bg-white push">
    <a class="breadcrumb-item" href="/">Dashboard</a>
    <a class="breadcrumb-item" href="/indexgate">Gates</a>
    <span class="breadcrumb-item active">index</span>
</nav>
{% if (code != NULL) %}
    {% if (code == 0) %}
        <div class="alert alert-success">{{ message }}</div>
    {% else %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
{% endif %}
<div class="block block-themed">
    <div class="block-header bg-gd-lake">
        <h3 class="block-title">Gates</small></h3>
    </div>
    <div class="block-content block-content-full">
        <a href="/addgate" class="btn btn-success mb-10"><i class="fa fa-plus"></i> Tambah Gate</a>
        <div class="table-responsive">
            <table id="tabel-gate" class="stripe table table-stripped">
                <thead>
                    <tr>
                        <th class="text-center">Gate ID</th>
                        <th class="text-center">Gate Start</th>
                        <th class="text-center">Gate End</th>
                        <th class="text-center">Lihat</th>
                        <th class="text-center">Hapus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for gate in gates %}
                    <tr>
                        <td class="text-center">{{ gate.gate_id }}</td>
                        <td class="text-center">{{ gate.gate_start }}</td>
                        <td class="text-center">{{ gate.gate_end }}</td>
                        <td class="text-center">
                            <a href="/getgate/{{ gate.gate_id }}" class="btn btn-sm btn-info"><i class="fa fa-eye"></i></a>
                        </td>
                        <td class="text-center">
                            <a href="/delgate/{{ gate.gate_id }}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block moreJS %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#tabel-gate').DataTable({
                "autoWidth": true,
                "ordering": false,
            });
        });
    </script>
{% endblock %}